<!-- <mat-form-field class="example-full-width" style="width:100%">
  <mat-label>Token</mat-label>
  <input matInput placeholder="URL" [(ngModel)]="token" (ngModelChange)="onChange()" appearance="fill" #input>
</mat-form-field> -->
<ul class="courseList" #courseList>
  <li *ngFor="let course of courses" class="closed" [attr.data-parent]="true" (click)="onCourseClick(course)" [attr.data-contenttype]="'folder'" [attr.data-name]="course.heading" [attr.data-id]="course.id">{{ course.name }}</li>
</ul>