.courseList{
  list-style: none;
  margin: 50px 0 0 20px;
  padding: 0;
}

.courseList ul{
  list-style: none;
  margin: 10 0 0 10px;
  padding: 0;
}

.courseList li{
  margin: 20px 10px;
  cursor: pointer;
}

.courseList li[data-contenttype="folder"].closed::before{
  position: relative;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-right: 0.2em solid black;
  border-top: 0.2em solid black;
  margin-right: 1.5em;
  margin-left: 1.0em;
  transform: rotate(45deg);
}

.courseList li[data-contenttype="folder"].opened::before{
  position: relative;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-right: 0.2em solid black;
  border-top: 0.2em solid black;
  margin-right: 1.5em;
  margin-left: 1.0em;
  transform: rotate(135deg);
}

.courseList li[data-contenttype="video"]{
  margin-left: 60px;
  background: green;
  color: white;
  padding: 10px;
}

.courseList li[data-contenttype="folder"]{
  background: orange;
  color: black;
  padding: 10px;
}

.courseList li[data-contenttype="others"]{
  background: #f44336;
  color: white;
  padding: 10px;
}

.courseList li[data-contenttype="test"]{
  background: #0078cf;
  color: white;
  padding: 10px;
}